:root{
    --bg:green;
    --text: rgb(249, 241, 241);
    --btn: rgb(235, 251, 7);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bg);
    color: var(--text);
}
a{
    text-decoration: none;
    color: inherit;
}

.container{
    background-color: crimson;
    color: white;
    width: 1536px;
    margin: auto;
    padding: 0 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (max-width:1536px) {
    .container{
        width: 1366px;
    }
}
@media (max-width:1366px) {
    .container{
        width: 1280px;
    }
}
@media (max-width:1280px) {
    .container{
        width: 1024px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (max-width:1024px) {
    .container{
        width: 768px;
    }
}
@media (max-width:768px) {
    .container{
        width: 475px;
    }
}